*{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #0b192f;
  color: #484848;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

.post-1 {
  background: #F3D250;
}

.post-2 {
  background: #8D8741;
}

.post-3 {
  background: #659DBD;
}

.post-4 {
  background: #DAAD86;
}

/* Your styles go here */
.container {
  display: grid;
  grid-template-columns: 76% 24%;
  gap: 15px;
  grid-template-rows: 63px 375px 445px auto 70px;
  grid-template-areas: "header header"
    "main aside1"
    "main aside2"
    "main ."
    "footer footer";
  margin: 0 auto;
  max-width: 965px;
  width: 100%;

}

.header {
  margin-top: -10px;
  background-color: #162b4d;
  grid-area: header;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 57px 0 20px;
}

.footer {
  grid-area: footer;
  margin-bottom: -10px;

}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.sidebar1 {
  grid-area: aside1;
}

.sidebar2 {
  grid-area: aside2;
}

h1,
h2 {
  margin: 0;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header h1 {
  font-weight: 100;
  font-size: 1.76em;
}

.header span {
  color: #7f184f;
}

.navigation a {
  font-size: 14px;
  padding: 28px 25px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: background-color .2s;
}

.navigation a:hover {
  background-color: #b8b8b8;
}

.burger {
  display: none;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;

}

.burger__item::before,
.burger__item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}

.main-item {

  display: flex;
}
.main-item img {

  width: 100%;
  display: block;
}
.img-wrap{
  position: relative;
  display: flex;
  flex: 50%;
}
.main-item .img-wrap:hover::before, .main-item .item-description:hover::before{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 20;
}
.post-1 .img-wrap:hover::before, .post-1 .item-description:hover::before{
  background-color: #F3D250;
}
.post-2 .img-wrap:hover::before, .post-2 .item-description:hover::before{
  background-color: #8D8741;
}

.post-3 .img-wrap:hover::before, .post-3 .item-description:hover::before{
  background-color: #659DBD;
}
.post-4 .img-wrap:hover::before, .post-4 .item-description:hover::before{
  background-color: #DAAD86;
}
.item-description {
  position: relative;
  flex: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 13px 0px 27px;

}

.item-description .text {
  padding-top: 30px;
  flex-basis: 78%;
}

.item-description h2 {
  font-weight: 100;
  font-size: 1.6em;
  letter-spacing: 0.02em;

}

.item-description p {
  margin-top: 15px;
  font-size: 0.65em;
  line-height: 2.2em;
  letter-spacing: 0;
  word-spacing: 0.1em;
}

.date {
  margin-top: 16px;
  text-align: center;
  font-weight: 100;
}

.date span {
  font-size: 2em;

}

.date p {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.2;
}

.main-item:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.main-item:nth-child(even) .item-description {
  flex-direction: row-reverse;
  padding-right: 27px;
  padding-left: 13px;
}

.last-item {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 347px;
  margin: 0;
  background-image: url('../img/post5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 18px;
}

.last-item h2 {
  font-size: 1.65em;
  font-weight: 300;
}

.last-item p {
  font-size: 0.65em;
  margin-bottom: 8em;

  line-height: 2.1;
}

.sidebar {
  background-color: white;
}

.sidebar>div {
  padding: 25px 27px 0;
}

.sidebar h2 {
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1.3em;
  margin-bottom: 25px;
}

.sidebar img {
  display: block;
  width: 100%;

}

.sidebar p {
  font-size: 0.65em;
  line-height: 1.75em;
  margin-bottom: 15px;

}

.sidebar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.6em;
  display: inline-block;
  padding: 6px;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
}

.sidebar a:hover {
  border: none;
  border-bottom: 1px solid black;
}

.footer {
  background-color: #162b4d;
  display: flex;
  justify-content: space-between;
  padding: 20px 17px;
}

.footer p {
  color: #677283;
  font-size: 0.68em;
  line-height: 1.6em;
  word-spacing: -0.15em;
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 60% 34%;
    gap: 15px;
    grid-template-rows: auto auto auto auto auto;


  }

  .header {

    padding: 40px 0 20px;

    flex-direction: column-reverse;
  }
  .logo{
    margin-top: 20px;
  }
  .header h2 {
    margin-top: 47px;
  }

  .navigation {

    display: none;
  }

  .burger {
    margin-top: 25px;

    display: block;
  }

  .main-item {
    flex-direction: column;

  }

  .main-item:nth-child(even) {
    flex-direction: column;
    text-align: right;
  }

  .main-item:nth-child(even) .item-description,
  .main-item:nth-child(odd) .item-description {
    flex-direction: column;
    align-items: center;
    padding-right: 27px;
    padding-left: 13px;
    text-align: center;
  }

  .main-item img {
    width: 100%;
  }

  .sidebar>div {
    padding: 14px 20px 0;
  }

  .sidebar h2 {

    font-size: 1.1em;
    margin-bottom: 25px;
  }

  .sidebar img {
    display: block;
    width: 100%;

  }

  .sidebar p {
    font-size: 0.65em;
    line-height: 1.75em;
    margin-bottom: 15px;

  }

  .sidebar a {
    margin-bottom: 15px;
  }

  .item-description {
    padding-bottom: 30px;
    justify-content: flex-start;
  }

  .item-description p {
    text-align: justify;
    margin-bottom: 0;
  }

  .date {
    margin-top: -5px;
    display: flex;
    align-items: flex-end;
  }

  .footer {
    padding-top: 40px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 480px) {
    .container {
      display: block;
    }

    .sidebar {
      margin: 20px 0;
    }

    .footer {
      margin-top: 40px;
    }

    .header {
      padding:0;
      padding-bottom: 22px;
      margin-bottom: 20px;
    }
  }
}